
body {
	margin: 0 auto;
	font-family: 'Work Sans', Arial, sans-serif;
	background-color: #dde1e7;
	height: 100%;
	color: black;
	display: flex;
	width: 100%;
	flex-direction:column;
	line-height: 1.6;
  }

h1 {
	font-size: 2.986rem;
	font-weight: 1000; 
}


#dot {
	color: #6d7aff;
}

h2 {
	font-size: 2.488rem;
	font-weight: 1000; 
}

h3 {
	font-size: 2.074rem;
	font-weight: 1000; 
}

h4 {
	font-size: 1.728;
	font-weight: 800; 
}


p,
a {
	font-size: 1rem;
  letter-spacing: 20%;
}
  
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.look {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.horizontal-divider {
  display: flex;
  width: 100%;
  height: 2px;
  box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, .8),
              inset 1px 1px 1px 0 rgba(0, 0, 0, .1);
}

.vertical-divider {
  display: flex;
  margin-top:20px;
  width: 2px;
  height: 3em;
  box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, .8),
              inset 1px 1px 1px 0 rgba(0, 0, 0, .1);
}

.pressed:hover {
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.pressed:focus {
  outline: none;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

  /* Sekcja menu top */
  header {
	background-color: #dde1e7;
	height: 100px;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  top: 0;
	z-index: 1000;
  flex-direction: column;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width:80%;
    max-width: 1440px;
  }

  .nav-left,
  .nav-right {
    display: flex;
  }

  #logo {
	display: flex;
	align-items: center;
  }
  
  nav {
	display: flex;
  justify-content: space-around;
  }
  
  nav a {
	color: black;
	text-decoration: none;
  margin: 15px 15px;
  align-items: center;
  padding: 15px 15px;
  }


  .nav-right nav a:hover {
    opacity: 0.8;
    color: #6d7aff; 
  }

.social-top {
  display:flex;
}

.social-top a {
  display: flex;
  border-radius: 50%;
  margin: 25px 25px;
  align-items: center;
  padding: 10px 10px;
  border: 1px solid #d1d9e6;
  box-shadow:  -5px -5px 9px rgba(255,255,255,0.45), 
                5px 5px 9px rgba(94,104,121,0.3);
  transition: all ease-in-out 0.3s;
}

.social-top a:hover {
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.social-top a:focus {
  outline: none;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}


.social-top img {
  height: 1em;
}

.nav-mobile {
    display: none;
}

  /* SEKCJA ŚRODKOWA */

.body-size {
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
max-width: 1440px;
margin: 0px auto;	
background-color: #dde1e7;
}

.hero {
	display: flex;
  justify-content: space-between;
	align-items: center;	
	width: 100%;
  margin: 200px 0;
}

#left {
	display: flex;
	flex-direction: column;
	width: 50%;
  padding: 20px 20px;
  max-width: 700px;
  flex-wrap: wrap;
}

#right {
	display: flex;
  justify-content: center;
  width: 50%;
  max-width: 700px;
  padding: 20px 0;
}
#right-mobile {
  display: none;
}

.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
  flex-wrap: wrap;
  min-width: 180px;
  gap: 10px;
}

/* Button-hero-blue*/
.btn {
  display:flex;
	position: relative;
	text-decoration: none;
	padding: 20px 20px;
  margin-bottom: 50px; 
  font-size: 1em;
  font-weight: 500;
	display: inline-block;
	border-radius: 6em;
	border: none;
	transition: all .4s;
	color: white;
	background-color: #6d7aff;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
   }
   
   .btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
	content: "";
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
   }
   
   .btn::after {
	background-color: #6d7aff;;
   }
   
   .btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
   }
   

   /*More-button*/
   .neu-button {
    background-color: #dde1e7;
    border-radius: 50px;
    border: 1px solid #d1d9e6;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #6d7aff;
    padding: 20px 40px;
    margin-bottom: 50px;
    transition: all 0.2s ease-in-out;
    border: 2px solid #dde1e7;
  }
  

  /*Carousel up*/

  .carousel {
    display: flex;
    width: 40%;
    height: 400px;
    flex-direction: column;
    overflow: hidden;
    position:relative;
  }

  
  .gallery-a,
  .gallery-b {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .carousel:hover .gallery-a {
    animation-play-state: paused;
  }

  .carousel:hover .gallery-b {
    animation-play-state: paused;
  }

    .gallery-a {
    animation: moveBottom 6s linear infinite;
    }

  .gallery-b {
    animation: moveTop 6s linear infinite;
  }

  .gallery-image {
    display: flex;
    align-items: center;
    width: 180px; 
    height: 120px;
    padding-left: 40px;
    margin: 20px 20px;
    border-radius: 20px;
    border: 1px solid #d1d9e6;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  }

  .text-box h4 {
    font-size: 1rem;
  }

  
  @keyframes moveTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes moveBottom {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
/* Sekcja Services.*/

.title {
	display:flex;
	margin: 15px 0 0 50px;	
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;	
}

.title p {
display: flex;
width: 90%;
}

  .services {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;	
	width: 100%;
	padding: 0 0 50px 0;
  flex-wrap: wrap;
}

.services-box-min {
	display: flex;	
	flex-direction: column;
	border-radius: 30px;
  border: 1px solid #d1d9e6;
	box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
	padding: 20px 20px;
  flex: 1;
  margin: 20px 20px;
  min-height: 400px;
  min-width:450px;
  }

.services-box-min a {
  position: relative;
	text-decoration: underline 2.5px;
	text-underline-offset: 5px; 
	padding: 1em 0;
	display: inline-block;
	border: none;
	transition: .2s;
	color: black;
}

.services-box-min h3 {
  transition: .2s; 
}

.services-box-min:hover h3 {
  color: #6d7aff; 
  }
 
  .services-box-min:hover a {
    text-decoration: underline 4px;
    text-decoration-color: #6d7aff; 
  }

.services-box-min img {
	width:70px;
	height:70px;
}


/* Trusted companies*/ 
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: #dde1e7;
  white-space: nowrap;
  position: relative;
  max-width: 1440px;
  width:100%
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to right, #dde1e7 0%, rgba(255, 255, 255, 0) 100%);
}

.logos:after {
  right: 0;
  background: linear-gradient(to left, #dde1e7 0%, rgba(255, 255, 255, 0) 100%);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

/* Delivery Approach. */

.delivery {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 300px;	
	width: 100%;
	padding: 0 0 50px 0;
  flex-wrap: wrap;
}

.box-mid {
	display: flex;	
	flex-direction: column;
	border-radius: 30px;
  padding: 20px 25px;
  flex: 1;
  margin: 20px 20px;
  min-height: 400px;
  min-width:250px;
  border: 1px solid #d1d9e6;
	box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  width: 28%;
  }


  .box-mid h3 {
    height: 50px;
    margin-top: 100px;
  }

  .box-mid a {
    text-decoration: none;
  }

  .box-mid button {
  display: flex;
  border-radius: 20px;
  width: 170px;
  margin: 50px 0;
  border: 1px solid #d1d9e6;
  }


  /*1st*/
  .loader-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.45),
      inset 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .loader-1::before {
    content: "";
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.45),
      10px 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .circle {
    height: 56px;
    width: 60px;
    position: absolute;
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .circle::before {
    content: "";
    position: absolute;
    height: 15px;
    border-radius: 50%;
    width: 15px;
    background: linear-gradient(45deg, #6d7aff, #5c89ff);
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
  }

  /*2sc*/
  .loader-2 ,.loader-2::before,.loader-2::after {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    animation: rotate 7s linear infinite;
  }
  
  .loader-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 0 10px 0;
    width: 75px;
    height: 55px;
    border-color: #5a4ff3;
  }
  
  .loader-2::before,.loader::after {
    position: absolute;
    content: "";
  }
  
  .loader-2::before {
    border-color: #35a2d2;
    width: 110%;
    height: 110%;
    animation-delay: .2s
  }
  
  .loader-2::after {
    border-color: #9c40fc;
    width: 120%;
    height: 120%;
    animation-delay: .3s;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg)
    }
  }
  /*3rd*/
  .loader-3 {
    width: 150px;
    height: 75px;
    border-radius: 10%;
    border: 1px solid #d1d9e6;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: expand 3s linear infinite;
}

.round {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: #dde1e7;
  margin: 20px 0 20px 10px;
  border-radius: 50%;
  border: 1px solid #d1d9e6;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
.square {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #dde1e7;
    margin: 20px 20px;
    border-radius: 10%;
    flex:2;
    border: 1px solid #d1d9e6;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  }

@keyframes expand {
    25% {
        width: 240px;
    }

    75% {
        width: 150px;
    }
}
 
  /*QUESTION START*/

  .ask {
display: flex;
flex-direction: column;
  }

.ask-box-flat {
  display: flex;	
	flex-direction: column;
	border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #d1d9e6;
	box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  width: 95%;
  margin-bottom: 50px; 
}

.ask-min {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.ask-min img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    object-fit: cover;
    padding: 15px 15px;
    border: 1px solid #d1d9e6;
    box-shadow:  -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}


#hello-1,
#hello-2,
#hello-3,
#hello-4,
#hello-5 {
  display: none;
  transition: max-height 2s ease, opacity 2s ease;
}

#hello-1 p,
#hello-2 p,
#hello-3 p,
#hello-4 p,
#hello-5 p {
  width: 90%;
}


  /* STOPKA */
  footer {
	display: flex;
	align-items: center;
  flex-direction: column;
  }


.m-links a:hover {
	color: #6d7aff;
      }
  
  footer p {
	font-size: 1.0em;
	opacity: 70%;
  padding: 20px 0 30px 0;
  }

  footer .m-links a {
	font-size: 1.0em;
	opacity: 70%;
  }

  .footer-bottom {
  display: flex;
  width:80%;
  max-width: 1440px;
  align-items: flex-start;
  flex-wrap: wrap;
  }

  #bot-left {
    display: flex;
    width: 100px;
    flex: 1;
    min-width: 100px;
  }

  #bot-left img {
    height: auto;
    margin-top:30px;
    width: 45px
}

  #bot-right {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
  }

  .m-links {
    display: flex;
    flex-direction: column;
    padding: 0 40px 10px 0;
    min-width: 200px;
  }

  .social-footer {
    display: flex;
  }

  .social-footer a {
    display: flex;
    border-radius: 50%;
    padding: 5px 5px;
    border: 1px solid #d1d9e6;
    box-shadow:  -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  }

  footer a {
    color: black;
    text-decoration: none;
    margin: 20px 40px 20px 0;
    font-size: 24px;
    }


  .social-footer img {
    display: flex;
    height: auto;
    width: 20px;
    padding: 10px 10px;
  }

  .social-footer a:hover {
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .social-footer a:focus {
    outline: none;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }


  @media only screen and (max-width: 1440px) {
    .body-size {
      max-width: 1440px;
      }
    
   
    #left {
      width: 50%;
      max-width: 768px;
    }
    
    #right {
      width: 50%;
      max-width: 500px;
    }

    .gallery-image {
      width: 140px; 
      height: 140px;
      margin: 20px 20px;
      padding: 0 20px;
    }

    h3 {
      margin-top: 50px;
    }

    @keyframes moveTop {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-50%);
      }
    }
    @keyframes moveBottom {
      0% {
        transform: translateY(-50%);
      }
      100% {
        transform: translateY(0);
      }
    }

    .box-mid h3 {
      height: 50px;
      margin-top: 50px;
    }

    .ask-box-flat {
      width: 90%;
    }
  }
  @media only screen and (max-width: 1200px) {
    .body-size {
      width: 100%;
      max-width: 1200px;
      }
    }

    @media only screen and (max-width: 1024px) {
      .body-size {
        width: 100%;
        max-width: 1024px;
        }

      h1 {
        font-size: 2.6rem;
        line-height: 1.1;
      }

      .btn {
        padding: 20px 15px;
         }

      .neu-button {
        padding: 20px 20px;
      }
  
      .gallery-image {
        width: 95px; 
        height: 100px;
        margin: 20px 20px;
        padding-left: 15px;
      }

      .gallery-image h4 {
        font-size: 1.4;
      }

      #bot-left {
        min-width: 100px;
      }
    }

@media only screen and (max-width: 768px) {

/*Main menu*/
.nav-desktop {
  display: none;
}

.nav-mobile {
  display: flex;
}

.body-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 768px;
  margin: 0px auto;	
  background-color: #dde1e7;
  }

 header {
  max-width:768px;
 }

/* Carousel */
#right {
  display: inline-block;
  width: 100%;
  padding-top: 0;
}

.carousel {
  width: 768px;
  height: 100px;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0;
}

  .gallery-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 5px 0;
    animation: moveBottom 6s linear infinite;
  }

.gallery-b {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 90px;
  margin: 5px 0 200px;
  animation: moveTop 6s linear infinite;
}

.gallery-image {
  display: inline-block;
  height: 40px;
  min-width: 90px;
  margin: 30px 10px;
  padding: 20px 40px;
}

.text-box h4 {
  font-size: 14px;
  margin: 0 auto;
  padding: 0 0;
}


@keyframes moveTop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes moveBottom {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


/*hero left */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;	
  flex-wrap: wrap;
  width: 100%;
  margin: 100px 0;
}

#left {
  max-width: 768px;
  min-width: 450px;
}

.button {
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 0;
}

.button .btn,
.button .neu-button {
  font-size: 0.75rem;
  padding: 15px 15px;
  margin-right: 30px;
  width: 160px;
}




/*Sekcja services*/
.services-box-min h3 {
  height: 4rem;
  margin: 50px 0;
}

.services-box-min {
  min-height: 350px;
  min-width: 260px;
  }

.services-box-min a,
.services-box-min p {
  margin-bottom: 30px;
}

/*Trusted companie */
.logos {
  max-width: 768px;
}

.logos-slide img {
  height: 80px;
}

/* Delivery approach */
.box-mid h3 {
  height: 4rem;
  margin: 50px 0;
}

.box-mid {
  min-height: 400px;
  }

.box-mid a,
.box-mid p {
  margin: 30px 0;
}

.box-mid button {
  justify-content: center;
  }

/* Ask */
.ask {
  min-width: 260px;
  }

.ask-box-flat {
  width: 80%;
}


/*Stopka*/
#bot-left {
  display: none;
}

#bot-right {
  margin-left: 20px;
}

.m-links {
  min-width: 100px;
}

.footer-bottom {
  width: 100%;
  max-width: 768px;
}


footer svg {
  width: 40px;
  height: 40px; 
}

#copy-rights {
  display:flex;
  align-items: center;
}

#copy-rights p {
  margin: 0 auto;
  padding: 30px 0;
}

.logo-footer-mobile {
  display: flex;
}

}

@media only screen and (max-width: 425px) {
  
  .body-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 425px;
    margin: 0px auto;	
    background-color: #dde1e7;
    }
  
  h1 {
    margin: 20px 0;
  }

  #left {
    min-width: 300px;
  }

.button {
  margin-top: 20px;
}

.button .btn,
.button .neu-button {
  font-size: 0.7rem;
  padding: 10px 5px;
  width: 120px;
  margin: 0 auto;
}

.carousel {
  width: 425px;
}
  .services-box-min {
    min-width: 240px;
  }

  .logos:before,
.logos:after {
  width: 80px;
}

  .logos {
    max-width: 425px;
  }
  .logos-slide img {
    height: 60px;
  }

  .ask-box-flat {
    width: 75%;
  }

  nav a {
    padding: 5px 5px;
  }

  nav a:focus {
      outline: none;
      box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    }
  

  .nav-mobile a {
    margin: 10px 20px;
    
  }
  
  .nav-mobile img {
    padding: 3px 0;
    height: 20px;
  }
  
  .nav-mobile p {
    font-size: 0.6rem;
    margin: 0 auto;
  }
}

  @media only screen and (max-width: 375px) {
    .nav-mobile a {
      margin: 15px 15px; 
    }

    .button .btn,
.button .neu-button {
  font-size: 0.75rem;
  padding: 10px 5px;
  width: 120px;
}

.carousel {
  width: 375px;
}
.logos {
  max-width: 375px;
}
  }

  @media only screen and (max-width: 320px) {
    .nav-mobile a {
      margin: 10px 10px;
    }

    .carousel {
      width: 320px;
    }

    .logos {
      max-width: 320px;
    }
  }


/* Contact */

  .contact {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 100px 0;
      padding: 0 20px;
    }
  
  .contact p {
  width: 90%;
  }
  
  .contact-box {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 20px;
  }
  
  .contact-box-mini {
   flex: 1;
   min-width: 200px;
   min-height: 100px;
   border-radius: 20px;
   padding: 10px 20px;
   border: 1px solid #d1d9e6;
   box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  }

  .contact-box-mini h3 {
  margin-top: 10px;
  margin-right:33%;
   }
  
  
  .contact-label {
    display:flex;
    flex-direction: row;
    align-items: center;
  
  }

  .contact-label input,
  .contact-label textarea {
    background-color: #dde1e7; 
    border: none;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }

  
  .contact-left {
    display:flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 40px;
    margin-right: 8px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .contact-right {
    display:flex;
    align-items: center;
    flex: 4;
    height: 40px;
  }
  
  .contact-right p,
  .contact-message p {
    padding-left: 10px;
  }
  
  .contact-message {
    display:flex;
    height: 100px;
    width: 100%;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .contact-box-mini button {
    background-color: #dde1e7;
    border-radius: 20px;
    border: 1px solid #d1d9e6;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 15px 40px;
    margin: 20px 20px;
    transition: all 0.2s ease-in-out;
    border: 2px solid #dde1e7;
  }
  
  .contact-box-mini button:hover {
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .contact-box-mini button:focus {
    outline: none;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }

  @media only screen and (max-width: 1024px) {
    .contact {
      margin: 100px 0;
  }
  }

  @media only screen and (max-width: 768px) {
    .contact {
      margin: 0 auto;
  }
  }

@media only screen and (max-width: 425px) {
  .contact-box-mini h3 {
    font-size: 1.5rem;
   }
}

/*About */
#phone {
  display:flex;
  align-items: center;
  border: 2px solid #d1d9e6;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
  border-radius: 36px;
  width: 270px;
  height: 536px;
  padding: 16px 16px;
  background-color: #fff;
}

#typedtext {
  font-size: 1rem;
}
