
body {
	margin: 0 auto;
	font-family: 'Work Sans', Arial, sans-serif;
	background-color: #f0f1f4;
	height: 100vh; /* Zmieniono na 100vh, aby objąć całą widoczność okna przeglądarki */
	color: black;
	display: flex;
	width: 100%;
	flex-direction:column;
	line-height: 1.5;
  }

h1 {
	font-size: 50px;
	font-weight: 1000; 
}


#dot {
	color: #6d7aff;
}

h2 {
	font-size: 40px;
	font-weight: 1000; 
  margin-top: 100px;
}

h3 {
	font-size: 30px;
	font-weight: 1000; 
}

h4 {
	font-size: 24px;
	font-weight: 800; 
}


p {
	font-size: 1.3rem;
}
  
.hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.look {
  opacity: 1;
  transition: opacity 1s ease;
}


  /* SEKCJA MENU */
  .horizontal-divider {
    display: flex;
    width: 100%;
    height: 2px;
    box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, .8),
                inset 1px 1px 1px 0 rgba(0, 0, 0, .1);
  }




  header {
	background-color: #f0f1f4;
	height: 7rem;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  top: 0;
	z-index: 1000;
  flex-direction: column;
  }



  .menu {
    display: flex;
    justify-content: space-around;
    width:80%;
    max-width: 1440px;
  }
  
  #logo {
	display: flex;
	align-items: center;
  }
  
  nav {
	display: flex;
  justify-content: space-between;
  }
  
  nav a {
	color: black;
	text-decoration: none;
  margin: 20px 20px;
  align-items: center;
  font-size: 24px;
  padding: 15px 15px;
  }

  nav a:hover,
  #social-top a:hover {
    opacity: 0.5;
  }

.vertical-divider {
    display: flex;
    margin-top:20px;
    width: 2px;
    height: 5em;
    box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, .8),
                inset 1px 1px 1px 0 rgba(0, 0, 0, .1);
}

#social-top {
  display:flex;
}

#social-top a {
  display: flex;
  border-radius: 50%;
  margin: 25px 25px;
  align-items: center;
  padding: 20px 20px;
  box-shadow:  -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  transition: all ease-in-out 0.3s;
}


#social-top img {
  display: flex;
  width: 20px;
  height: 20px;
}

  .nav-mobile {
    display: none;
  }

  /* SEKCJA ŚRODKOWA */

.body-size {
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
max-width: 1440px;
margin: 0px auto;	
background-color: #f0f1f4;
}

.hero {
	display: flex;
	justify-content: space-around;
	align-items: center;	
	flex-wrap: wrap;
	width: 100%;
  margin: 200px 0 150px 0;
}

#left {
	display: flex;
	flex-direction: column;
	flex:1;
	margin:100px 50px 100px 0;
  min-width: 350px;
  flex-wrap: wrap;
}

#right {
	display: flex;
  flex: 1;
  min-width: 350px;
}

.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
  flex-wrap: wrap;
}

/* BUTTTON */
.btn {
  display:flex;
	position: relative;
	font-size: 1.25rem;
	text-decoration: none;
	padding: 1em 2.5em;
	display: inline-block;
	border-radius: 6em;
	border: none;
	transition: all .4s;
	font-weight: 500;
	color: white;
	background-color: #6d7aff;;
  min-width: 200px
   }
   
   .btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
	content: "";
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
   }
   
   .btn::after {
	background-color: #6d7aff;;
   }
   
   .btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
   }
   
   /*END BUTTON*/

   /*MORE*/
   .more {
  display: flex;
	position: relative;
	font-size: 1.25rem;
	text-decoration: underline 2.5px;
	text-underline-offset: 5px; 
	padding: 1em 0;
	display: inline-block;
	border: none;
	transition: all .5s;
	font-weight: 500;
	color: black;
  min-width: 200px;
   }
   
   .more:hover {
	text-decoration: underline 4px;
	text-decoration-color: #6d7aff;
   }
  /*MORE*/



  /*Carousel up*/

  .block-m {
    display: flex;
    width: 40%;
    height: calc(140px * 4);
    flex-direction: column;
    position:relative;
    overflow: hidden;
    margin-top: 80px;
  }


    .gallery-d {
    .gallery-image {
    animation: moveBottom 8s linear infinite;
    }
  }
  
  .gallery-u {
  overflow: hidden;
  }


  .gallery-image {
    display: flex;
    justify-content: center;  
    padding: 10px 10px;
    animation: moveTop 8s linear infinite;
  }
  

  .text-box {
    display: flex;
    opacity: 0.8;
    padding: 0 50px;  
    border-radius: 30px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  }

  
  @keyframes moveTop {
    0%{
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-100% * 4));
    }
  }
  
  @keyframes moveBottom {
    0% {
      transform: translateY(calc(-100% * 4));
    }
    100% {
      transform: translateY(0);
    }
  }
  
/* Sekcja Services.*/

.title {
	display:flex;
	margin: 15px 0 0 50px;	
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;	
}

.title p {
display: flex;
width: 90%;
}

  .min {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 300px;	
	width: 100%;
	padding: 0 0 50px 0;
  flex-wrap: wrap;
}

.box-min {
	display: flex;	
	flex-direction: column;
	border-radius: 30px;
	box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
	padding: 20px 20px;
  flex: 1;
  margin: 20px 20px;
  min-height: 400px;
  min-width:450px;
  }

.box-min a {
  position: relative;
	font-size: 1.25rem;
	text-decoration: underline 2.5px;
	text-underline-offset: 5px; 
	padding: 1em 0;
	display: inline-block;
	border: none;
	transition: all .3s;
	font-weight: 500;
	color: black;
}

.box-min h3 {
  transition: all .3s; 
}
  
.box-min p {
	font-size: 1.25rem;
}

.box-min:hover h3 {
  color: #6d7aff; 
  }
 
  .box-min:hover a {
    text-decoration: underline 4px;
    text-decoration-color: #6d7aff; 
  }

.box-min img {
	width:70px;
	height:70px;
}

/* Trusted companies*/ 
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 50px 0 100px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
 }

 .slider {
  opacity: 1;
  transform: translateY(0);
}

.slide img {
  height: 100px; 
  width: 250px;
}

.slider::before, .slider::after {
  background: linear-gradient(to right, #f0f1f4 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(250px * 18);
}


@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 9));
  }
} 

/* Delivery Approach. */

.mid {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 300px;	
	width: 100%;
	padding: 0 0 50px 0;
  flex-wrap: wrap;
}

.box-mid {
	display: flex;	
	flex-direction: column;
	border-radius: 30px;
  padding: 20px 25px;
  flex: 1;
  margin: 20px 20px;
  min-height: 400px;
  min-width:250px;
	box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  width: 28%;
  }


  .box-mid p {
    font-size: 1.25rem;
  }

  .box-mid h3 {
    height: 50px;
  }
  

  /*1st*/
  .loader-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 1),
      inset 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .loader-1::before {
    content: "";
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 1),
      10px 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .circle {
    height: 56px;
    width: 60px;
    position: absolute;
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .circle::before {
    content: "";
    position: absolute;
    height: 15px;
    border-radius: 50%;
    width: 15px;
    background: linear-gradient(45deg, #6d7aff, #5c89ff);
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
  }

  /*2sc*/
  .loader-2 ,.loader-2::before,.loader-2::after {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    animation: rotate 7s linear infinite;
  }
  
  .loader-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 0 10px 0;
    width: 75px;
    height: 55px;
    border-color: #5a4ff3;
  }
  
  .loader-2::before,.loader::after {
    position: absolute;
    content: "";
  }
  
  .loader-2::before {
    border-color: #35a2d2;
    width: 110%;
    height: 110%;
    animation-delay: .2s
  }
  
  .loader-2::after {
    border-color: #9c40fc;
    width: 120%;
    height: 120%;
    animation-delay: .3s;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg)
    }
  }
  /*3rd*/
  .loader-3 {
    width: 150px;
    height: 75px;
    border-radius: 10%;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    animation: expand 3s linear infinite;
}

.round {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: #eee;
  margin: 20px 0 20px 10px;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
.square {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #eee;
    margin: 20px 20px;
    border-radius: 10%;
    flex:2;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  }

@keyframes expand {
    25% {
        width: 240px;
    }

    75% {
        width: 150px;
    }
}
 
  /*QUESTION START*/

  .ask {
display: flex;
flex-direction: column;
  }

.box-flat {
  display: flex;	
	flex-direction: column;
	border-radius: 30px;
  padding: 0px 20px;
	box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  width: 95%;
  margin-bottom: 50px; 
}

.ask-min {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.ask-min img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    padding: 15px 15px;
    box-shadow:  -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

#hello-1,
#hello-2,
#hello-3,
#hello-4,
#hello-5 {
  display: none;
  transition: max-height 2s ease, opacity 2s ease;
}

#hello-1 p,
#hello-2 p,
#hello-3 p,
#hello-4 p,
#hello-5 p {
  width: 90%;
  font-size: 1.25rem;
}



  /* STOPKA */
  footer {
	display: flex;
	align-items: center;
  flex-direction: column;
  }


  footer a:hover {
	color: #6d7aff;
      }
  
  footer p {
	font-size: 1.0rem;
	opacity: 70%;
  padding: 20px 0 30px 0;
  }

  footer .m-links a {
	font-size: 1.25rem;
	opacity: 70%;
  }

  .m-bot {
  display: flex;
  width:80%;
  max-width: 1440px;
  align-items: flex-start;
  flex-wrap: wrap;
  }

  #bot-left {
    display: flex;
    width: 100px;
    flex: 1;
    min-width: 200px;
  }

  #bot-left img {
    height: auto;
    margin-top:30px;
    width: 45px
}

  #bot-right {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
  }

  .m-links {
    display: flex;
    flex-direction: column;
    padding: 0 40px 10px 0;
    min-width: 200px;
  }

  #social {
    display: flex;
  }

  #social a {
    display: flex;
    border-radius: 50%;
    padding: 5px 5px;
    box-shadow:  -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  }

  footer a {
    color: black;
    text-decoration: none;
    margin: 20px 40px 20px 0;
    font-size: 24px;
    }


  #social img {
    display: flex;
    height: auto;
    width: 20px;
    padding: 10px 10px;
  }

  #social a:hover {
  background-color: #6d7aff; 
  }

  @media only screen and (max-width: 1440px) {

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.hero {
  margin: 100px 0 100px 0;
}

.m-links {
  min-width: 160px;
}

.block-m {
  height: calc(140px * 3);
}
.ask-min img {
margin: 10px 10px;
}

}

@media only screen and (max-width: 1024px) {
.gallery-image {
  padding: 10px 10px;
}

h1 {
  font-size: 40px;
}

.hero {
  margin: 100px 0 0 0;
}

.text-box {
  padding: 0 30px;
}

.block-m {
  width:45%;
}
#right {
  justify-content: center;
}
}

@media only screen and (max-width: 937px) {
/*Carousel up*/
#right {
  display: none;
}
   body {
    width: 100%;
    max-width: 937px;
    margin: 0 auto;
  }

  .body-size {
    width: 100%;
    max-width: 937px;
    margin-left: 10px;
  }


  .hero {
    margin-top: 0;
  }


/*Początek sekcji Services*/
.min {
  margin: 0 20px 0 0;
}

/*Początek sekcji Delivery Approach.*/
.mid {
  margin: 0 20px 0 20px;
}

.box-mid {
  margin: 20px 20px 20px 0;
}

 /*Początek sekcji Frequently Asked Questions.*/

.title {
  margin: 15px 50px 0 50px;
}

.box-flat {
  width: 90%;
  margin-left: 10px;
}

/*Main menu*/
.nav-desktop {
  display: none;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 88%;
  height: 12%;
  z-index: 1000;
  padding: 10px 0 10px 0;
  box-shadow: inset -1px -1px 1px 0 rgba(255, 255, 255, .8),
  inset 1px 1px 1px 0 rgba(0, 0, 0, .1);
}

.nav-mobile {
  display: flex;
}

nav {
  display:flex;

}

.nav-mobile img {
  display: flex;
  height: 25px;
  width: auto;
}
.nav-mobile a {
  display: flex;
  border-radius: 50%;
  padding: 10px 10px;
  margin: 0 30px 10px 30px;
  margin-bottom: 10px;
  box-shadow:  -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  transition: all ease-in-out 0.3s;
}

.nav-mobile a:hover {
  transform: translateY(-3px);
  opacity: 0.7;
  }


/*Sekcja services*/


/*Stopka*/

.m-bot {
  width: 100%;
  max-width: 768px;
}
}

@media only screen and (max-width: 768px) {
     body,
    .body-size {
      width: 100%;
      max-width: 768px;
}
}

@media only screen and (max-width: 425px) {


body {
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
}

.body-size {
  width: 100%;
  max-width: 425px;
  margin-left: 10px;
}

h3 {
  margin-right: 20px;
}

.box-min {
  min-width: 360px;
  margin: 0 20px 10px 20px;
}

.box-mid {
  margin: 0 20px 20px 10px;
}

.ask,
.min {
  margin: 0 30px 0 0;
}

.box-flat {
margin: 20px 20px 20px 0;
}

header {
  top: 92%;
  height: 8%;
  justify-content: space-around;
  max-width: 425px;
}

footer {
margin-left: 20px;
}

nav a {
  margin: 20px 20px;
}
}

@media only screen and (max-width: 375px) {
  body,
 .body-size {
   width: 100%;
   max-width: 375px;
}

#left {
  min-width: 280px;
  margin-left: 20px;
}

.box-min {
  min-width: 305px;
  margin: 0 20px 10px 20px;
}
.box-mid {
  margin: 0 10px 20px 10px;
}
}

@media only screen and (max-width: 320px) {
  body,
 .body-size {
   width: 100%;
   max-width: 320px;
}

.box-min {
  min-width: 260px;
}
}
